@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  overflow-x: hidden;

  color-scheme: light dark;
  color: white;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 1px solid pink; */
}

/* canvas {
  margin: 0;
  padding: 0;
  border: none;
  display: block; 
} */

.myoga {
  filter: brightness(30%);
}
.egbon {
  filter: brightness(80%);
}

.bgforthis {
  display: flex;
  justify-content: center;
  background-image: url("./assets/images/clippathchatbox.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: 100%;

  @media screen and (max-width: 768px) {
    display: hidden;
  }
}

/* .bghere{
  background-image: url("./assets/images/greensource.svg");
  object-fit: cover;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
} */
/* object-fit: cover; */

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  scale: 1.1;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 15s infinite;
  opacity: 0.8;
  z-index: 10;
}

#blur {
  z-index: 20;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 20;
  backdrop-filter: blur(12vmax);
}

.rotate {
  animation: rotate 0.75s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.ogadiv {
  overflow: hidden;
  white-space: nowrap;
  /* display: flex; */
  /* padding: 60px 0; */
}

.ogadiv:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  /* display: flex; */
  animation: 10s slide infinite linear;
  display: inline-block;
}

/* .logos-slide svg {
  height: 50px;
  
} */
.logos-slide img {
  height: 50px;
  margin: 0 100px;
  display: inline-block;
}
